<div class="container">
  <div class="search">
    <p class="card-title">Búsqueda de plantilla</p>
    <form id="searchForm" #searchForm="ngForm" (ngSubmit)="search()">
      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="form-group">
            <label for="messageType">Tipo de mensaje</label>
            <mat-form-field>
              <mat-select [(value)]="sms.message_type" (selectionChange)="search()">
                <mat-option *ngFor="let tipo of tipos" [value]="tipo.id">
                  {{ tipo.description }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="form-group">
            <label for="language">Lenguaje de la plantilla</label>
            <mat-form-field>
              <mat-select [(value)]="sms.lang" (selectionChange)="search()">
                <mat-option *ngFor="let lang of langs" [value]="lang">
                  {{ lang }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="sms-container" *ngIf="sms.lang">
    <p class="card-title">Plantilla de Mensaje</p>
    <form id="smsForm" #smsForm="ngForm" (ngSubmit)="insertMessageTemplate()">
      <p class="message" *ngIf="!existe">No existe la plantilla, crea una:</p>
      <div class="form-group">
        <label for="title">Título de mensaje</label>
        <input id="title" type="text" name="title" #title="ngModel" [(ngModel)]="sms.title" required/>
      </div>
      <div class="form-group">
        <label for="message">Mensaje</label>
        <textarea id="message" type="text" name="message" #name="ngModel" [(ngModel)]="sms.message" rows="5" required></textarea>
      </div>
      <button class="save-btn" type="submit" *ngIf="smsForm.valid">{{ saveBtn }}</button>
    </form>
  </div>
</div>