<!--div class="navbar">
  <ul class="menu">
    <li class="sidenav-item">
      <a [routerLink]="['/email']" class="sidenav-btn start-btn" routerLinkActive="active"><i class="fa fa-envelope" style="margin-right: 15px"></i>Correos</a>
    </li>
    <li class="sidenav-item">
      <a [routerLink]="['/sms']" class="sidenav-btn end-btn" routerLinkActive="active"><i class="fa fa-comments" style="margin-right: 15px"></i>Mensajes</a>
    </li>
  </ul>
</div-->

<div class="navbar">
  <div class="toolbar">
    <a id="email-link" [routerLink]="['/email']" class="sidenav-btn start-btn" routerLinkActive="active"><i class="fa fa-envelope" style="margin-right: 15px"></i>Correos</a>
    <a [routerLink]="['/sms']" class="sidenav-btn end-btn" routerLinkActive="active"><i class="fa fa-comments" style="margin-right: 15px"></i>Mensajes</a>
  </div>
</div>
<router-outlet></router-outlet>