<div class="main">
  <a id="show-btn" class="show-editor" (click)="showEditor()">
    <i class="fas fa-arrow-left"></i>
  </a>
  <!-- Preview de template -->
  <div class="preview" id="iframe">
    <table id="bodyTable" align="center" border="0" cellpadding="0" height="100vh" width="100%">
      <tbody>
        <tr>
          <td id="bodyCell">
            <table height="300px" width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
              <tbody>
                <tr>
                  <td id="header" style="background-image: url(assets/img/header.jpg);background-repeat: no-repeat;background-position: center 0px;">
                    <table align="center" width="100%" cellspacing="0" cellpadding="0" border="0">

                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table height="100px" width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
              <tbody>
                <tr>
                  <td id="" style="background-image: url(assets/img/header2.jpg);background-repeat: no-repeat;
          						background-position: center -102px; ">
                    <table align="center" width="100%" cellspacing="0" cellpadding="0" border="0">
                      <tr>
                        <td align="center">
                        </td>
                      </tr>
                      <tr>
                        <td align="center">
                          <img src="assets/img/logo.png">
                        </td>
                      </tr>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table height="45%" width="100%" cellpadding="0" cellspacing="0" border="0">
              <tbody>
                <tr>
                  <td id="mail-content" style="background-color: white;border-top: 0;border-bottom: 0;padding-top: 45px;padding-bottom: 45px;">
                    <table class="templateContainer" width="80%" align="center" cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td>
                            <p class="title" style="text-align: center;font-style: italic;font-size: 1.5em;font-weight: bold;color: #052f85;">
                              {{email.title}}
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="templateContainer" width="80%" align="center" cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td>
                            <p class="info" style="text-align: center;letter-spacing: 1px;font-size: 0.8em;color: #666;">
                              {{email.sub_title}}
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="templateContainer" width="80%" align="center" cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td>
                            <p class="token" style="text-align: center;font-style: italic;font-size: 2em;font-weight: bold;color: #052f85;">
                              /*RECURSO*/
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <table class="templateContainer" width="80%" align="center" cellspacing="0" cellpadding="0" border="0">
                      <tbody>
                        <tr>
                          <td>
                            <p class="info" style="text-align: center;letter-spacing: 1px;font-size: 0.8em;color: #666;">
                              {{email.question}}
                            </p>
                            <p class="info" style="text-align: center;letter-spacing: 1px;font-size: 0.8em;color: #666;">
                              {{email.additional_information}}
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Fin de Preview de template -->

  <!-- Panel de edición -->
  <div id="editor-panel" class="editor editor-panel">
    <a class="hide-editor" (click)="hideEditor()">
      <i class="fas fa-arrow-right"></i>
    </a>
    <p class="editor-title">EDITOR DE PLANTILLA</p>
    <form #emailForm="ngForm" id="emailForm" (ngSubmit)="insertEmailTemplate()">

      <div class="row">
        <div class="col-lg-6 col-md-6">
          <div class="form-group">
            <label for="language">Lenguaje de la plantilla</label>
            <mat-form-field>
              <mat-select [(value)]="email.lang" (selectionChange)="searchTemplate()">
                <mat-option *ngFor="let lang of langs" [value]="lang">
                  {{ lang }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="col-lg-6 col-md-6">
          <div class="form-group">
              <label for="language">Plantilla para:</label>
              <mat-form-field>
                <mat-select id="template-select" [(value)]="email.template" (selectionChange)="searchTemplate()">
                  <mat-option *ngFor="let template of templates" [value]="template.id">
                    {{ template.description }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
          </div>
        </div>
      </div>
      <p class="message" *ngIf="!existe">No existe la plantilla, crea una:</p>
        <div class="form-group">
          <label for="title">Título</label>
          <input id="title" type="text" name="title" [(ngModel)]="email.title" required/>
        </div>
        <div class="form-group">
          <label for="subtitle">Sub Título</label>
          <input id="subtitle" type="text" name="subtitle" [(ngModel)]="email.sub_title" required/>
        </div>
        <div class="form-group">
          <label for="question-info">Información de Preguntas</label>
          <input id="question-info" type="text" name="question" [(ngModel)]="email.question" required/>
        </div>
        <div class="form-group">
          <label for="additional-info">Información Adicional</label>
          <input id="additional-info" type="text" name="additional" [(ngModel)]="email.additional_information" required/>
        </div>
        <button class="save-btn" type="submit" *ngIf="emailForm.valid">{{saveBtn}}</button>
    </form>
    </div>
  </div>
  <!-- Fin Panel de edición -->